<!DOCTYPE html>
<html>
<head>
  <title>GoodAtRubyAgile2018</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'phaser.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'shipControl', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="titlebar">
    
    <nav>
      <%=link_to 'Home', root_url %>
      <%=link_to 'About', about_url %>
    </nav>
    
    <header class="header">
      <h1>Astroids Game!</h1>
    </header>
    
    <div class="login_bar">
      
      <p>Login using social media to compete!</p>
      <button>Login</button>
      
    </div>
  </div>
  
  <div class="gameDiv">
  
  </div>
  
  <footer>
    <h4>Copyright <%=Date.today.year %> [Astroids game] Good at Ruby Group</h4>
  </footer>
  
</body>
</html>
