<!DOCTYPE html>
<html>
<head>
  <title>GoodAtRubyAgile2018</title>
  <%= csrf_meta_tags %>
  

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>

  <nav  class="navbar">
    <ul class="navul">
      <li><%=link_to 'Home', root_url %></li>
      <li><%=link_to 'Game', game_url %></li>
      <li><%=link_to 'About', about_url %></li>
      <li><%=link_to 'Top Ten', :controller => :scores, :action => :index %></li>
       
      <% if current_user %>
        <li class="omniauth">Signed in as: <%= current_user.name %> - <%= image_tag(current_user.image, width: "50", height: "50", class: 'img-circle' ) %></li>
        <li><%= link_to "Sign Out", 'sign_out', method: :delete %></li>
      <% else %>
        <li class="omniauth"><%= link_to "auth/twitter" do %><%= image_tag('twitter_icon.png', width: '40', height: '40', class: 'img-circle') %><% end %></li>
      <% end %>
    </ul>
  </nav>
  
  <header class="header">
      <h1>Astroids Game!</h1>
  </header>
  

<%flash.each do |key, value| %>
  <div class="alert alert-info"><%= value %></div>
<% end %>

<!--Flash alert lets user know if they are signed in or out. -->
<% if current_user %>
  <div class="text-center">
    <h1>Welcome, <%= current_user.name %></h1>
    <h4>Logged In with -> <strong><em><%= current_user.name %></em></strong></h4>
    <%= image_tag(current_user.image)%>
  </div>
<% end %>

 
    
  <%= render "shared/backgroundImage" %>
  <div class="main">
    <%= yield %>  
    
    
  </div>
  
  <%= render "shared/footer" %>
  
</body>
</html>
